@model List<BooklyProject.Entities.Book>
@{
    ViewBag.Title = "isOnSaleBooks";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>İndirimdeki Kitaplar</h2>
@{ 
    int count = 0;
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Kitap Adı</th>
            <th>Yazar Adı</th>
            <th>Fiyat</th>
            <th>İndirim Oranı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.BookName</td>
                <td>@item.Author.Name @item.Author.Surname</td>
                <td>@item.Price ₺</td>
                <td>@item.DiscountRate</td>
            </tr>
        }
    </tbody>
</table>

